{% extends 'base.html' %}
{% block content %}
<h1 class="page-header">
        Invoice #{{ invoice.number }} <small>/ detail</small>
        <div class="btn-group pull-right">
            <a href="{% url 'app:invoice-edit' invoice.pk %}" class="btn btn-default" role="button">Edit</a>
            <a href="{% url 'app:invoice-delete' invoice.pk %}" class="btn btn-danger" role="button">Supprimer</a>
        </div>
    </h1>

    {% include "_generics/sale_detail.html" with object=invoice lines=lines payments=invoice.payments.all form=form %}
{% endblock content %}
